<% provide(:title, @user.name) %>
<div class="profile">
  <aside>
  <h1>
    <%= @user.name %>
  </h1>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <% if @user.workouts.any? %>
    <ul class="workouts">
      <%= render @workouts %>
    </ul>
  <% end %>
</div>
