<div class="login">
  <div class="title"></div>
    <div class="photo">
        <% image_tag("vanessa-02.png") %>
        <div class="cta" Get moving with your workouts for the week
        <!-- form(name="login", class="form" method="post", action="/login")
            p
                span.loginLabel Email address
                input.inputEmail(type="text", name="email")
            p.secondfield
                span.loginLabel Code from your personal trainer
                input.inputLevel(type="password", name="password")
            p
                button.button(type="submit") Let's go! -->
</div>
