// Place all the styles related to the Admin::Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block {
  padding: 1rem .5rem;
  border: 1px solid lightgrey;
  margin: .25rem 0;
  width: 30%;
}
