@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-mrxtxm');
  src:url('../fonts/icomoon.eot?#iefix-mrxtxm') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?-mrxtxm') format('truetype'),
  url('../fonts/icomoon.woff?-mrxtxm') format('woff'),
  url('../fonts/icomoon.svg?-mrxtxm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e600";
}
.icon-more_icon:before {
  content: "\e601";
}
.icon-profile_icon:before {
  content: "\e602";
}
.icon-time_icon-01:before {
  content: "\e603";
}
.icon-workouts_icon:before {
  content: "\e604";
}

.logo {
  display: inline-block;
  list-style-type: none;
  padding: none;
  margin: none;
  width: 50%;
  li {
    display: inline-block;
    vertical-align: middle;
  }
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
